
.heading{
    transition: all 300ms ease-in-out;
}

.heading:hover{
    background: yellow;
}
a:hover{
    background: green;
    color: white;
    text-decoration: none;
}

a:link{
    color: red;
}
a:visited{
  color: blue;   
}